:root {
  /* color */
  --c-orange-main: #fa5f1a;
  --c-orange-second: #fdb696;
  --c-white-main: #fff;
  --c-white-second: #f2f2f2;
  --c-black-second: #000;

  /* text size */
  --t-size-12: 0.75rem;
  --t-size-16: 1rem;
  --t-size-18: 1.125rem;
  --t-size-24: 1.5rem;
}

body {
  margin: 0;
  background-color: var(--c-white-second);
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
  container-type: inline-size;
}
